%header
  %h1= title(sanitize(title))

  -# All the collections an Article sits in
  - if local_assigns[:collections] && collections.any?
    %p= render partial: 'shared/delimited_links', locals: { links: collections, prefix: t('.in') }

  - if local_assigns[:summary]
    = MarkdownHelper.markdown(summary)
